.transition1{
    background-color:#1e021e; /*#360636*/
    color:white;
}

.unfocus:focus, .unfocus:hover, .unfocus{
    outline: transparent !important;
    border: transparent !important;
    -webkit-box-shadow: transparent !important;
    box-shadow: transparent !important;
    
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.MenuClassName{
    position:relative;
    left:40vw;
    width:20vw;
    top:-15vh;
    text-align:center;
}


.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 8px 52px 8px 10px;
    transition: all 200ms ease;
  }


.Dropdown-menu {
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
  }
  

.globe{
    position: absolute;
    left:30vw;
    top:5vh;
}

.content{
    margin:20vh;
    margin-bottom:0vh;
    margin-left:5vw;
    margin-top:20vh;
    position:relative;
    z-index:10;
    width:50vw;
    height:90vh;
}

.content h1{
    font-size:3rem;
    font-weight:500;
    letter-spacing: 2px;
    line-height: 3.5rem;
}

.content p{
    font-size:1.5rem;
    font-weight:400;
    line-height: 2rem;
}

.two_buttons{
    display:grid;
    grid-template-columns: 1fr;
}


.button{
    margin-top:2rem;
    color:white;
    padding:10px 20px;
    margin-right:10vw;
    width:15vw;
    border-radius:5px;
    font-size:1.3rem;
    position:relative;
    text-decoration: none;
    border:none;
  }

  .login{
    grid-column:1;
    grid-row:1;
    display:grid;
  }

  .learn_more{
    grid-column:2;
    grid-row:1;
  }

  .have_account{
      color:rgba(255, 255, 255, 0.8);
      font-size:0.8rem;
      grid-row:2;
      grid-column:1;
      text-align:center;
      width:15vw;
  }

.button1{
    color:#1e021e;
    background-color:white;
    margin-bottom:10px;
}

.button2{
    border:2px solid white;
    background-color:transparent;
}

.button_anim1{
    overflow: hidden;
      transition: color .5s;    
      background-color:rgba(255, 255, 255,0.8);
  }
  
  .button_anim1::before{
    content:'';
    position: absolute;
    top:0;
    left:-10%;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: -1;
    transform: skewX(25deg);
    transition: width .5s;
  }
  
  .button_anim1:hover::before{
    width:120%;
  }
  
  .button_anim2{
      overflow: hidden;
      transition: color .5s;
    }
    
    .button_anim2::before{
      content:'';
      position: absolute;
      top:0;
      left:-10%;
      width: 0%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      transform: skewX(25deg);
      transition: width .5s;
    }
    
    .button_anim2:hover::before{
      width:120%;
    }

   
.usecase{
  left:40vw;
  top:-12vh;
  width:20vw;
color:white;
padding:0;
border-radius:5px;
font-size:1rem;
text-decoration: none;
border:none;
border:0.5px solid transparent;
background-color:transparent;
}

@media screen and (max-width: 750px){
    .globe{
        left:0vw;
        top:60vh;
    }

    .usecase{
        left:30vw;
        right:30vw;
        width:40vw;
        top:-15vh;
    color:white;
    padding:5px 10px;
    border-radius:5px;
    font-size:1.3rem;
    text-decoration: none;
    border:none;
    border:2px solid transparent;
    background-color:transparent;
    }
    
    .content{
        margin:12vh;
        margin-left:5vw;
        width:90vw;
        text-align:center;
        height:130vh;
    }
    
.content h1{
    font-size:2.0rem;
    font-weight:500;
    letter-spacing: 1px;
    line-height: 2.5rem;
}

.content p{
    font-size:1.1rem;
    font-weight:400;
    line-height: 1.2rem;
}

.have_account{
    font-size:0.8rem;
    margin-left:-5vw;
    width:auto;
}

.button{
    margin-top:2.3rem;
    padding:2vw 1vw;
    margin-right:0vw;
    width:35vw;
    border-radius:5px;
    font-size:1.3rem;
    position:relative;
  }

.button1{
    margin-right:10vw;
    color:#1e021e;
    background-color:white;
    margin-left:5vw;
    padding-left:0;
}

.button2{
    margin-right:5vw;
    padding-right:0;
}

}