body {
  color:black;
  overflow-y:auto;
  overflow-x:hidden;
  font-size:10px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  width:100vw;
  margin: 0;
  padding: 0;
  background: white;
  display: block;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #F1EFFE;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #360636;
  border-radius: 10px;
}